composer.lock
config/development.config.php
phpunit.xml
.buildpath
.project
.idea
.settings/
.run
access.log
error.log
/.idea/
public/img/personThumbs/*.png
public/img/personThumbs/*.jpg
public/img/avatar/*.jpg
public/img/customer/*.jpg
public/js/custom.js
public/js/treed.js
public/js/address.js
/public/js/notification.js
public/modules/**/*.js
public/modules/**/*.d.ts
config/autoload/*local.php
vendor/
http-*.env.json
*.env.json
data/genetaredImageTmp.png
/nbproject/private/
generator.php
data
data/pld/black-list/*.csv
!data/pld/black-list/template/black_list_template.csv
data/opinion/*.pdf
!data/tmp/README.md